---
import DefaultLayout from 'src/layouts/defaultLayout.astro';
import AlbumInfo from '$lib/components/albumInfo.astro';
import PurchaseButton from '$lib/components/purchaseButton.astro';
import Artists from '$lib/data/Artist.json';
import type { Album, Song } from '$lib/typeDefs';
import { sortSongs } from '$lib/sorts';

export function getStaticPaths() {
  return Promise.all(Artists.map(async (artist) => {
    const { artistId } = artist;
    const albumResponse = await fetch(`https://itunes.apple.com/lookup?id=${artistId}&entity=album`);
    const albums = await albumResponse.json();
    return albums.results.filter((album: Album) => album.collectionId).map((album: Album) => ({
      params: {
        artistId,
        albumId: album.collectionId
      }
    }));
  }));
};
const { artistId, albumId } = Astro.params;
const albumResponse = await fetch(`https://itunes.apple.com/lookup?id=${artistId}&entity=album`);
const albums = await albumResponse.json();
const songResponse = await fetch(`https://itunes.apple.com/lookup?id=${artistId}&entity=song&limit=500`);
const songs = await songResponse.json();
const album = albums.results.find((album: Album) => album.collectionId === Number(albumId)) || {};
album.songs = sortSongs([
  ...songs.results.filter((song: Song) => song.collectionId === Number(albumId))
]);
---

<DefaultLayout
  title={`${album.collectionName} | Ausick`}
  description={`${album.collectionName}'s Album Page on Ausick`}
>
  <div class="text-center border-white border-2 border-t-0 h-screen pt-5">
    <AlbumInfo {album} />
    <PurchaseButton />
  </div>
</DefaultLayout>
