---
import type { Album } from '$lib/typeDefs';
import { Image } from 'astro:assets';

const { album, navigateTo } = Astro.props as { album: Album, navigateTo: string };

function trackLength(trackLength: number) {
  const minutes = Math.floor(trackLength / 60000);
  const seconds = Number(((trackLength % 60000) / 1000).toFixed(0));
  return minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
}
---

{navigateTo ?
  <a href={navigateTo} rel="prefetch">
    <div class="flex justify-center">
      <Image
        src={album.artworkUrl100}
        alt={album.collectionName}
        width={100}
        height={100}
        format="avif"
        style="image-rendering: pixelated;"
      />
    </div>
  </a>
:
  <div class="flex justify-center">
    <Image
      src={album.artworkUrl100}
      alt={album.collectionName}
      width={100}
      height={100}
      format="avif"
      style="image-rendering: pixelated;"
    />
  </div>
}
<p>
  {album.collectionName}
  {album.collectionPrice ? `$${album.collectionPrice}` : ''}
</p>
{album.releaseDate && !navigateTo ? <p>{album.releaseDate}</p> : ''}
<p class="pb-5">{album.copyright}</p>
{album.songs.map((song => (
  <div class="flex justify-center">
    {song.trackNumber}. {song.trackName}
    {song.trackTimeMillis && song.trackPrice ? `${trackLength(song.trackTimeMillis)} $${song.trackPrice}` : '' }
  </div>
)))}
