---
import type { Artist } from '$lib/typeDefs';

const { artist, showBio } = Astro.props as { artist: Artist, showBio: Boolean };

const goTo = `/Ausick/artist/${artist.artistId}`
const border = showBio ? '' : 'border-white border-2 border-t-0';
---

<div class="w-full md:w-1/4 text-center lg:text-xl sm:text-xs">
  <a href={goTo} rel="prefetch">
    <div class={border}>
      <p>{artist.artistName}</p>
      <div class="flex justify-center">
        <img
          src={artist.photo}
          alt={artist.artistName}
          width="380"
          height="380"
          style="image-rendering: pixelated;"
        />
      </div>
      <p>Founded {artist.founded} in {artist.hometown}</p>
      {showBio ? <p class="text-base pt-5">{artist.bio}</p>: ''}
    </div>
  </a>
</div>
